<div class="container">
  <h1 class="title">Chest X-Ray Denoising AI</h1>
  <p class="description">The primary goal of this project is to demonstrate the effectiveness of autoencoders through visualizations. Specifically, it aims to develop a tool for denoising chest X-ray images that are affected by Gaussian noise.</p>
  <div class="button-container">
    <button class="button" (click)="launchGym()">Test 🧪</button>
    <button class="button" (click)="lauchPaperUrl()">Paper 📝</button>
  </div>

</div>
