<div class="container">

  <h1 class="title">Gym 🧪</h1>
  <div class="row">
    <div class="square">
      <div class="grid-container">
        <div *ngFor="let imagePath of images">
          <div class="image_square">
            <img [src]="imagePath" alt="Image" (click)="selectImage(imagePath)"/>
          </div>
        </div>
      </div>
    </div>


    <div class="square">
      <div class="selected_image_square">
        <div *ngIf="!selectedImage" class="description">No image selected</div>
        <img *ngIf="selectedImage" [src]="selectedImage" alt="Image" />
      </div>

    </div>
  </div>

  <button class="main_button" (click)="sendImageToServer()">Run denoising</button>

  <div class="row">
    <div class="column">
      <div class="result_square">
        <img [src]="decodedImageUrlSmallLatentSpace" alt="Image" class="result_image"/>
      </div>
      <button class="button">Download</button>
    </div>
    <div class="column">
      <div class="result_square">
        <img [src]="decodedImageUrlMediumLatentSpace" alt="Image" class="result_image"/>
      </div>
      <button class="button">Download</button>
    </div>
    <div class="column">
      <div class="result_square">
        <img [src]="decodedImageUrlLargeLatentSpace" alt="Image" class="result_image"/>
      </div>
      <button class="button">Download</button>
    </div>
  </div>
</div>
